# Ex1 
Hint: some method needed to solve these exercises have not been introduced so far. Follow the hints and use the ***pandas*** documentation.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2.
Use ***Jupyter lab*** to browse the data file in ``../../DATA/u.user.csv``. What does this data set represent?

### Step 3. Read the CSV data into a pandas DataFrame. Assign it to a variable called users and use the 'user_id' as index

In [2]:
users=pd.read_csv('../../DATA/u.user.csv')
print(users)

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Step 4. Print the first 25 entries

In [3]:
print(users.head(25))

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301
15       16   21      M  entertainment    10309
16       17   30      M     programmer    06355
17       18   35      F          other    37212
18       19   40      M      librarian    02138
19       20   42      F      homemaker    95660
20       21   26      M         writer    30068
21       22   25      M         writer    40206
22       23   30      F         artist    48197
23       24   21      F         artist    94533
24       25   39      M       engineer    55107

### Step 5. Print the last 10 entries

In [4]:
print(users.shape)
#print(data[-10:])
print(users.tail(10))

(943, 5)
     user_id  age gender     occupation zip_code
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

### Step 6. What is the number of observations in the dataset?

In [23]:
observ = users['zip_code']
observ.drop_duplicates
print(observ)

print(users.drop_duplicates)

print(users.shape[0], 'Beobachtungen')

0      85711
1      94043
2      32067
3      43537
4      15213
       ...
938    33319
939    02215
940    97229
941    78209
942    77841
Name: zip_code, Length: 943, dtype: object
<bound method DataFrame.drop_duplicates of      user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]>
943 Beobachtungen

### Step 7. What is the number of columns in the dataset?

In [6]:
print(len(users.columns))

5

### Step 8. Print the name of all the columns.

In [7]:
print(users.columns)

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [25]:
users.dtypes

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 9. How is the dataset indexed?

In [8]:
print('Index Range: ', users.index)
print('Index typ: ', type(users.index))

Index Range:  RangeIndex(start=0, stop=943, step=1)
Index typ:  <class 'pandas.core.indexes.range.RangeIndex'>

### Step 10. What is the data type of each column?
Hint: this works like in NumPy

In [9]:
users.dtypes

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 11. Print only the occupation column

In [10]:
print(users['occupation'])

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

### Step 12. How many different occupations there are in this dataset? 
Hint: try the ``nunique()`` function.

In [26]:
print(users['occupation'].nunique())

#test
unique_data = users.groupby('occupation')['occupation']
print('Anzahl Gesamt',unique_data.count())

print('Anzahl: ', len(unique_data), ' Einträge')

21
Anzahl Gesamt occupation
administrator     79
artist            28
doctor             7
educator          95
engineer          67
entertainment     18
executive         32
healthcare        16
homemaker          7
lawyer            12
librarian         51
marketing         26
none               9
other            105
programmer        66
retired           14
salesman          12
scientist         31
student          196
technician        27
writer            45
Name: occupation, dtype: int64
Anzahl:  21  Einträge

### Step 13. What is the most frequent occupation?
Hint: ``value_counts()``

In [31]:
print(users.occupation.value_counts().head(1))

student    196
Name: occupation, dtype: int64

In [33]:
#test
ccup = users['occupation']
print(ccup.value_counts())

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

### Step 14. Summarize the DataFrame.

In [34]:
#Summe der DataFrames
print('ohne unterscheidung\n', users.sum(),'\n')
print('mit unterscheidung\n',users.sum(numeric_only = True))

ohne unterscheidung
 user_id                                                  445096
age                                                       32111
gender        MFMMFMMMMMFFMMFMMFMFMMFFMMFMMMMFMFFFMFMMMMFMMF...
occupation    technicianotherwritertechnicianotherexecutivea...
zip_code      8571194043320674353715213981019134405201010029...
dtype: object

mit unterscheidung
 user_id    445096
age         32111
dtype: int64

In [15]:
#Description

In [35]:
print(users.describe())

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

### Step 15. Summarize all the columns

In [17]:
#Summe der Spalten
users[users.columns].sum()

user_id                                                  445096
age                                                       32111
gender        MFMMFMMMMMFFMMFMMFMFMMFFMMFMMMMFMFFFMFMMMMFMMF...
occupation    technicianotherwritertechnicianotherexecutivea...
zip_code      8571194043320674353715213981019134405201010029...
dtype: object

In [18]:
#Description der Spalten
print(users.describe(include='all'))

           user_id         age gender occupation zip_code
count   943.000000  943.000000    943        943      943
unique         NaN         NaN      2         21      795
top            NaN         NaN      M    student    55414
freq           NaN         NaN    670        196        9
mean    472.000000   34.051962    NaN        NaN      NaN
std     272.364951   12.192740    NaN        NaN      NaN
min       1.000000    7.000000    NaN        NaN      NaN
25%     236.500000   25.000000    NaN        NaN      NaN
50%     472.000000   31.000000    NaN        NaN      NaN
75%     707.500000   43.000000    NaN        NaN      NaN
max     943.000000   73.000000    NaN        NaN      NaN

### Step 16. Summarize only the occupation column

In [36]:
#description
users['occupation'].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [ ]:
#summe
users['occupation'].sum()

### Step 17. What is the mean age of users?

In [20]:
#vordefiniert
print(users['age'].mean())

#Test
sumAge = users['age'].sum()
meanAge = sumAge/users.shape
print(meanAge)

34.05196182396607
[  34.05196182 6422.2       ]

### Step 18. What is the age with least occurrence?

In [21]:
pd.options.display.max_rows = 70
Age = users['age'].value_counts(ascending=True)
print(Age)
#Alter das am wenigsten vorkommt: 7 - 11 Jahre

7      1
66     1
73     1
10     1
11     1
62     2
69     2
68     2
64     2
58     3
59     3
61     3
70     3
65     3
14     3
63     3
54     4
16     5
13     5
15     6
56     6
52     6
60     9
57     9
41    10
55    11
53    12
46    12
43    13
47    14
17    14
45    15
38    17
34    17
18    18
37    19
49    19
48    20
50    20
51    20
42    21
36    21
40    21
39    22
44    23
19    23
31    25
33    26
21    27
35    27
23    28
32    28
20    32
29    32
24    33
26    34
27    35
28    36
22    37
25    38
30    39
Name: age, dtype: int64